# Specifies intentionally untracked files to ignore.
#
# https://git-scm.com/docs/gitignore
# https://www.gitignore.io/
# https://github.com/github/gitignore
#
# In case of conflict with a specific file format, feel free to remove the
# problematic line.

# Generated when a Git operation is conflicting.
*.orig

# VS Exports
CompileScore/VSIX/.vs/
CompileScore/VSIX/bin/
CompileScore/VSIX/obj/

# WPF StandAlone 
CompileScore/WPF/.vs/
CompileScore/WPF/bin/
CompileScore/WPF/obj/

#Temporary and binaries
*.etl
*.scor
*.scor.*

DataExtractor/tmp/*
DataExtractor/bin/*
DataExtractor/.vs/*
DataExtractor/packages/*

TestProjects/CMake/tmp/*
TestProjects/CMake/bin/*
TestProjects/CMake/.vs/*

TestProjects/MSVC/tmp/*
TestProjects/MSVC/bin/*
TestProjects/MSVC/.vs/*
TestProjects/MSVC/packages/*
