# Specifies intentionally untracked files to ignore.
#
# https://git-scm.com/docs/gitignore
# https://www.gitignore.io/
# https://github.com/github/gitignore
#
# In case of conflict with a specific file format, feel free to remove the
# problematic line.

# Generated when a Git operation is conflicting.
*.orig

#Temporary and binaries
*.ctl
*.etl
*.scor
*.scor.*
*.vcxproj.user
*.csproj.user
*.cspbin

# Symlinks
llvm-project

# Shared
CompileScore/.vs/

# VS Exports
CompileScore/VSIX16/.vs/
CompileScore/VSIX16/bin/
CompileScore/VSIX16/obj/

CompileScore/VSIX17/.vs/
CompileScore/VSIX17/bin/
CompileScore/VSIX17/obj/

# WPF StandAlone 
CompileScore/WPF/.vs/
CompileScore/WPF/bin/
CompileScore/WPF/obj/

DataExtractor/tmp/*
DataExtractor/bin/*
DataExtractor/.vs/*
DataExtractor/packages/*

Parser/tmp/*
Parser/bin/*
Parser/.vs/*

TestProjects/NMake/tmp/*
TestProjects/NMake/bin/*
TestProjects/NMake/.vs/*

TestProjects/CMake/tmp/*
TestProjects/CMake/bin/*
TestProjects/CMake/.vs/*

TestProjects/Regular/tmp/*
TestProjects/Regular/bin/*
TestProjects/Regular/.vs/*

